@media (min-width: 800px) {
    [id^='itemDescription'] {min-width: 411px !important;}
    #submitBtn, #resetBtn{min-width:200px;text-transform:uppercase;font-weight:600;}
}
    
#saleFormContent{
    border-radius: 20px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px 0px #ccc;
    padding: 3px !important;
}
    
#loginHeader{
    border-top-left-radius: 12px; 
    border-top-right-radius: 12px; 
    position: relative; 
    padding-bottom: 0.3em;	
}

.nav-link-i {
    color: #fff;
}
.center {
    align-items: center;
}
.receipt_container {
    margin-left: auto;
    margin-right: auto;
    width: 80%
}
.header_item {
    display: inline-block;
    width:24%;
    text-align: center;
    }
.header, .footer {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    text-align: center;
    }
body {
    background-color: #f8f9fa;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    }
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    }
th {
    background-color: #f2f2f2;
    }    