<!DOCTYPE html>
<html>

<head>
    <title>SSS Homepage</title>
</head>

<body>
    <h1>Welcome, {{ session['firstname'] }}</h1>
    
    <!-- Navigation Menu -->
    <ul>
        <li><a href="{{ url_for('register_sales.register_sales') }}">Sell</a></li>
        <li><a href="{{ url_for('view_sales.view_sales') }}">Sales Dashboard</a></li>
        <li><a href="{{ url_for('register_products.register_products') }}">Register Product</a></li>
        <li><a href="{{ url_for('register_users.register_users') }}">Register Costumer</a></li>
    </ul>

    <form action="{{ url_for('logout.logout') }}" method="GET">
        <button type="submit">Logout</button>
    </form>
</body>

</html>
