<!DOCTYPE html>
<html>
<head>
    <title>Register Sale</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    <script type="text/javascript" src="{{ url_for('static', filename='register_sale.js') }}"></script>

</head>
<body>
    <h1>Register Sale</h1>

    <form id="saleForm" class="container" method="post">
        <!-- Fixed fields: User Registry and Item -->
        <div id="form-header" class="container form-check-inline">
            <input hidden name="itemCounter" id="itemCounter" value="1">
            <label for="userRegistry">User Registry:</label>
            <input type="text" name="userRegistry" id="userRegistry" class= "form-control" onchange= "getCostumer()" required>
            <p id="costumer"> Costumer Name </p></br>
            <button type="button" class="btn btn-primary" onclick="addItem()">Add Item</button><br><br>
        </div>

        <div id="items" class="form-inline">
            <div id="item1" class="form-group d-inline-flex row">
                <label for="item"display: block>EAN:</label>
                <input type="text" name="item1" id="barcode1" class="form-control" onchange= "getItem(1)" required><br><br>
                
                <p id="ItemDescription">Item Description</p>

                <label for="item" display: block>Quantity:</label>
                <input type="number" name="quantity1" id="quantity1" class="form-control" required><br><br>
            
                <label for="item"display: block>Price:</label>
                <input type="number" name="price1" id="price1" class="form-control" required><br><br>
                
                <button type="button" class="btn btn-danger" onclick="removeItem(1)" > X </button>
            </div>
        <!-- Dynamic fields for additional items -->
            <!-- JavaScript will add fields here 
        
            -->
        </div>
        <div class="container form-inline padding">
            <input type="submit" value="Submit" class="btn btn-success" action="{{ url_for('register_sales.register_sales') }}">
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js" integrity="sha384-Xm2LfedunveZ9lM5f0M8iRQC7l6a5a62FdF4NDj2a9r56VQun/AK7M6FC0Az1Nz9" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>