<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register Sale</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style/register_sale.css')}}">
</head>
<body>
    <!-- Navbar Content -->
    <nav class="navbar navbar-dark bg-dark bg-gradient">
        <a class="navbar-brand" href="{{ url_for('home.homepage') }}">Entreprise Name</a>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link-i nav-link" href="{{ url_for('register_sales.register_sales') }}">Sell</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled nav-link-i" href="{{ url_for('view_sales.view_sales') }}">Sales Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled nav-link-i" href="{{ url_for('register_products.register_products') }}">Register Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled nav-link-i" href="{{ url_for('register_users.register_users') }}">Register Customer</a>
            </li>
            <li class="nav-item">
                <form action="{{ url_for('logout.logout') }}" method="GET">
                    <button type="submit" class="btn btn-light btn-sm" onclick="">Logout</button>
                </form>
            </li>
        </ul>
    </nav>

    <div id="saleFormContent" class="h-100 w-100 p-0 pb-2 container align-items-center justify-content-center mt-5 bg-white" style="border-top-left-radius: 12px; border-top-right-radius: 12px;">
        
        <div id='loginHeader' class='bg-dark text-white container align-items-center justify-content-center m-0' style="border-top-left-radius: 12px; border-top-right-radius: 12px; position: relative; padding-bottom: 0.3em">
            <h1 id="TitleHead" class="h1 font-weight-light monospace text-center m-0">Register Sale</h1>
        </div>
        <form id="saleForm" class="container align-items-center justify-content-center mt-3" method="post">
            <!-- Fixed fields: User Registry and Item -->
            <div id="form-header" class="container form-inline row justify-content-center mb-1">
                <input hidden name="itemCounter" id="itemCounter" value="1">
                <input type="text" name="costumerRegistry" id="costumerRegistry" palceholder="Costumer Registry" class="form-control col-1 mr-1" onchange="getCostumer()" required>
                <input id="costumerName" placeholder="Costumer Name" class="form-control col-sm mr-1" style="max-width: 60%"required disabled>
                <button type="button" class="btn btn-primary mr-1" onclick="addItem()">Add Item</button>
            </div>

            <div id="items" class="form-inline container align-items-center justify-content-center border border-1 rounded p-1 my-2 bg-white">
                <div id="item1" class="form-row d-inline-flex row my-1">
                        <input type="text" name="barcode1" id="barcode1" placeholder="Barcode" class="form-control mr-1 col-sm-2" onchange="getItem('1')" required>
                        <input id="itemDescription1" placeholder="Item Description" class="form-control mr-1 col-md" required disabled>
                        <input type="number" name="quantity1" id="quantity1" placeholder="Quantity" class="form-control mr-1 col-sm-2" required disabled>
                        <input type="number" name="price1" id="price1" placeholder="Price Ex. 5.99" class="form-control mr-1 col-sm-2" required disabled>
                        <button type="button" name="lock1" id="lock1" class="btn btn-primary form-control pt-2 mr-1" onclick="LockUnlockItem(1)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                <path id='icoLock1' value="unlocked" d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2"/>
                            </svg>
                        </button>
                        
                        <button type="button" class="btn btn-danger form-control pt-2" onclick="removeItem(1)" >
                            <span id='pass-ico' class='mb-0'>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                </svg>
                            </span>
                        </button>
                </div>
            <!-- Dynamic fields for additional items -->
                <!-- JavaScript will add fields here 
            
                -->
            </div>
            <div id="buttonsDiv" class="container center form-inline padding receipt_container align-items-center justify-content-center">
                <button type="button" id="submitBtn" class="btn btn-success mr-1" onclick="validFields()">Submit</button>
                <button type="reset" id="resetBtn" class="btn btn-warning" onclick="cleanForm()">Reset</button>
            </div>
        </form>
    </div>
    <div id="receiptContainer" class="container p-1 border border-1 bg-white" style="visibility: collapse;">
        <div id="receipt" name="receipt" class="receipt_container">
            <div class="header">
                <div id="title" class="row">
                    <h2 class="col">Receipt</h2>
                    <button type="button" id="printBtn" class="btn col-1" id="printSale" onclick="printReceipt()" style="position: relative; align-self: flex-end;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer mt-1" viewBox="0 0 16 16">
                            <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                            <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1"/>
                        </svg>
                    </button>
                </div>
                <div id="sale_info">
                    <p class="header_item">Sale Store: <span id="RsaleStore"></span></p>
                    <p class="header_item">Sale ID: <span id="RsaleId"></span></p>
                    <p class="header_item">Seller Name: <span id="RsellerName"></span></p>
                    <p class="header_item">Sale Date: <span id="RsaleDate"></span></p>
                </div>
                <div id="costumer_info">
                    <p class="header_item">Costumer Registry: <span id="RcostumerRegistry"></span></p>
                    <p class="header_item">Costumer Name: <span id="RcostumerName"></span></p>
                    <p class="header_item">Costumer CPF: <span id="RcostumerCPF"></span></p>
                    <p class="header_item">Costumer Store: <span id="RcostumerStore"></span></p>
                </div>
            </div>

            <div class="body">
                <table id="items_info">
                    <thead>
                        <tr>
                            <th>Barcode</th>
                            <th>Item Description</th>
                            <th>Item Quantity</th>
                            <th>Price</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody id="itemsPDF">
                        <!-- Add dynamic rows for each item in the sale -->
    
                        <!-- Add more rows as needed -->
                    </tbody>
                </table>
            </div>

            <div id="footer" class="footer">
                <p class="header_item">Customer Signature: ___________________________</p>
                <p class="header_item">Total Value of Purchase: $<span id="totalValue">20.00</span></p>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/register_sale.js') }}"></script>
</body>
</html>